body{
	background-color: #ffffcc;
}
.title{
	text-align: center;
	font-family: Fipps;
}
@font-face{
	font-family: Fipps;
	src: url('Fonts/Fipps.otf')
}
@font-face{
	font-family: Gotham;
	src:url('Fonts/Gotham.ttf')
}
#navbar{
	font-size: 20px;
	font-family: Fipps;
	font-color:black;
	margin: 0;
	padding: -;
	list-style-type: 0;
	text-align: center;
	margin-right: 47px;
}
#navbar ul li{
	display: inline;
}
#navbar ul li a{
	text-decoration: none;
	padding: 100px 100px;	
	color: black;
}
#navbar ul li a:hover{
	text-decoration: underline;
}
.titles{
	font-size: 20px;
	margin-left: 5%;
	font-family: Fipps;
	animation-name: first;
	animation-duration: 1s;
}
.Parg{
	position: relative;
	margin-left: 7%;
	height: 20px;
	width: 800px;
	font-family: Gotham;
	animation-name: second;
	animation-duration:1.5s;
}
@keyframes first{
	from{margin-left: 0%}
	to{margin-left: 5%;}
}
@keyframes second{
	from{margin-left: 20%;}
	to{margin-left: 7%;}
}