body{
	background-color: #ffffcc;
}
@font-face{
	font-family: Fipps;
	src: url('Fonts/Fipps.otf')
}
@font-face{
	font-family: Gotham;
	src:url('Fonts/Gotham.ttf')
}
#navbar{
	font-size: 20px;
	font-family: Fipps;
	font-color:black;
	margin: 0;
	padding: -;
	text-align: center;
}
#navbar ul li{
	display: inline;
}
#navbar ul li a{
	text-decoration: none;
	padding: 100px 100px;	
	color: black;
}
#navbar ul li a:hover{
	text-decoration: underline;
}
.titles{
	font-size: 20px;
	margin-left: 5%;
	font-family: Fipps;
	animation-name: titlesan;
    animation-duration: 1s;
}
.title{
  text-align: center;
  font-family: Fipps;
}
.Parg{
	animation-name: parag;
    animation-duration: 1s;
    position: relative;
    margin-left: 30%;
    width: 800px;
    font-family: Gotham;
 }
 .wpost{
 	margin-left: 30%;
 }
 .post {
  text-align: center;
}
.comments{
	margin-left: 30%
}
.fb-share-button{
	position: relative;
	left: 67%
}
.twitter-share-button{
	position: relative;;
	margin-left: 25%
}
.text{
	width: 400px;
	height: 60px;
}
.label{
	font-family: Fipps;
	font-size: 20px;
}
.comm{
	margin-left: 7%;
	border: 2px dotted;
	width: 650px;
	height: 
}
@keyframes parag{
    from {margin-left: 10%;}
    to {margin-left: 30%;}
}
@keyframes titlesan{
    from {margin-left: 30%;}
    to {margin-left: 5%;}
}